asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
dataclasses==0.6
Django==4.2.26
djongo==1.3.6
dnspython==2.7.0
idna==3.11
pymongo==3.12.0
pytz==2025.2
requests==2.32.5
setuptools==80.9.0
six==1.17.0
sqlparse==0.2.4
urllib3==2.5.0
